/* =========================================================
   MAIN LAYOUT COMPONENT
   Contenedor principal de las pantallas protegidas
   ========================================================= */

:host {
  display: block;
  min-height: 100vh;
}

/* Estructura general */
.main-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;

  background-color: var(--color-surface);
}

/* Área donde se mostrarán las rutas internas */
.main-content {
  flex: 1;
  min-width: 0;
  min-height: 100vh;

  background-color: var(--color-surface);
  overflow-x: hidden;
}